/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Lato';
  src: url('assets/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Lato';
  color: black;
  background-color: rgb(245, 242, 240);
}